/* **********************************   ОБО МНЕ  ************************************* */

.about-me {
	margin-top: 50px;
}

.about-me__introduction {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}

.about-me__photo {
	width: 500px;
	height: 750px;
	transition: transform 1s ease;
}



/* *************************************   МОИ РАБОТЫ  ************************************* */

.my-works {
	padding: 50px 0;
	padding-bottom: 0;
}

.row {
	margin-bottom: 30px;
}

.card-add-files {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
	font-size: 40px;
	cursor: pointer;
	position: relative;
}

.card-add-files:hover {
	color: #888;
}

.input-file {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}

.card {
	cursor: pointer;
	position: relative;
}

.card:hover:after {
	content: 'Посмотреть';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	opacity: .9;
}

.card-add-files:hover:after {
	display: none;
}
/* *************************************   ПОЧЕМУ Я  ************************************* */

.section3 {
	margin-top: 100px;
	margin-bottom: 50px;
}


.tehnology {

}

.tehnology__title {
	text-align: center;
}

.tehnology__list {
	margin-top: 30px;
	font-size: 26px;
	background-color: #eeeeee;
	padding: 20px 20px;
	padding-bottom: 30px;

}

.tehnology__item {
	list-style: none;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.why-me {	
	margin-top: 40px;
}

.why-me__title {
	text-align: center;
}
.why-me__list {
	margin-top: 30px;
	background-color: #eeeeee;
	padding: 20px 0;
}
.why-me__item {
	list-style: none;
	text-align: center;
	letter-spacing: 3px;
}

/* *************************************   ПОДВАЛ САЙТА  ************************************* */

.footer {
	padding-top: 50px;
}

.footer_title {
	text-align: center;
}



@media (max-width: 992px) {
	.about-me__photo {
		width: 300px;
		height: 500px;
	}
	.my-works__col {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}
}

@media (max-width: 450px) {
	.about-me__photo {
		width: 250px;
		height: 350px;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}